:root {
  --neon-turquoise: #2FF8E0;
  --cosmic-violet: #7A5CFF;
  --midnight-black: #0C0E16;
  --deep-space-navy: #10172A;
  --holographic-blue: #4CC3FF;
  --white-pure: #FFFFFF;
  --soft-grey-light: #D7E2EF;

  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--white-pure);
  background-color: var(--midnight-black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
